.btn-primary {
    background-color: #313461;
    border-color: #313461;
}

.jumbotron {
    background: #333 url('../images/bg1.jpeg') 0px -295px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    border-bottom: 5px #f4f4f4 solid;
}

.nav-link {
    color: blue;
}

.jumbotron-main {
    padding: 0 60px 40px 60px;
    border-radius: 0;
}

.jumbotron-sub {
    padding: 0 60px 40px 60px;
    border-radius: 0;
}

.jumbotron-main h1 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.jumbotron-main p.lead {
    font-size: 25px;
    margin-bottom: 60px;
}

.navbar {
    margin: 0;
    color: #fff;
}

.navbar a {
    color: #fff;
    /* to negate the pushing effect on hover add a 3px margin that is to be removed on hovering to cancel the 3px border effect */
    margin-bottom: 3px;
}

.navbar a:hover {
    background: none !important;
    border-bottom: #fff 3px solid;
    margin-bottom: 0;
}

.navbar-right {
    position: absolute;
    right: 0;
}

.well {
    background-color: #f4f4f4;
    padding: 10px;
}

.box {
    text-align: center;
    margin-bottom: 30px;
}

.box .glyphicon {
    font-size: 50px;
}

.box h3 {
    font-size: 32px;
}

.section-a {
    background: #313461;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
}

.section-a h1 {
    font-size: 50px;
}

.img-full {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: normal;
    font-size: 52px;
}

.main-footer {
    background: #f5f5f5;
    padding: 50px;
    margin-top: 30px;
}

.main-footer a {
    color: black;
}

.main-footer a:hover {
    font-weight: bold;
    text-decoration: none;
}

.card-header .btn-link {
    color: #000;
}

.card-header .btn-link:hover {
    color: #444879;
    text-decoration: none;
}

.card-header .btn-link:enabled {
    text-decoration: none !important;
}

.lbl-primary {
    color: white;
    background: blue;
    padding: 2px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
}

.lbl-danger {
    color: white;
    background: red;
    padding: 2px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
}